html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
}

/* Netflix Animation Styles */
.netflix {
    position: relative;
    width: 242px;
    height: 400px;
    overflow: hidden;
    transform: scale(1);
    animation: anim-netflix 0.8s ease-in forwards;
    animation-delay: 0.6s;
}


.n-1{
    background-color: #B10510;
    height: 400px;
    width: 80px;
    top:400px;
    position: absolute;
    animation: anim-top 0.2s linear forwards;
}

.n-1::after{
    content: "";
    height: 7px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: -2px;
    transform: rotateZ(-3deg);

}

.n-3{
    background-color: #B10510;
    height: 400px;
    width: 80px;
    right: 0px;
    top: 400px;
    position: absolute;
    animation: anim-top 0.2s linear forwards;
    animation-delay: 0.4s;

}

.n-3::after {
    content: "";
    height: 10px;
    width: 130px;
    position: absolute;
    background-color: black;
    bottom: -5px;
    left: -25px;
    transform: rotateZ(5deg);
    z-index: 99;
}

.n-2{
    background-color: transparent;
    height: 500px;
    width: 90px;
    position: absolute;
    transform: rotateZ(-20deg);
    top: -52px;
    left: 75px;
    box-shadow: 4px, 4px, 15px, #00000085;
}

.filler{
    background-color: #E50815;
    height: 0px;
    animation: anim-filler 0.2s linear forwards;
    animation-delay: 0.2s;
}

@keyframes anim-netflix {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
    }
}

@keyframes anim-top {
    0%{
        top:400px;
    }
    100%{
        top:0px;
    }
}

@keyframes anim-filler{
    0%{
        height: 0px;
    }
    100%{
        height: 500px;
    }
}



/* Profile Selection Page Styles */

.hidden {
    display: none;
}

.whos-watching {
    text-align: center;
    
}

.whos-watching a {
    color: inherit;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.whos-watching h1 {
    margin-bottom: 30px;
}

#profile-section {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 2%;
    object-fit: cover;
}

span {
    margin: 10px;
}

a:hover {
    transform: scale(1.1);
}
